<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="main">
        <span class="fa fa-home"></span> Web GIS Banda Aceh
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="main">Home</a></li>
        <!-- deactivate perizinan for production
        <li ui-sref-active="active"><a ui-sref="local">Perizinan</a></li> -->
        <li><a href="https://bappeda.bandaacehkota.go.id/sigap/">SIGAP</a></li>
        <li ui-sref-active="active"><a ui-sref="about">About</a></li>
        <li uib-dropdown>
          <a uib-dropdown-toggle href="#" ui-sref-active="active">Map Khusus <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ui-sref-active="active"><a ui-sref="rtrw">Map RTRW Banda Aceh</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
