<div class="container">

  <div>
    <acme-navbar></acme-navbar>
  </div>

  halo <i class="fa fa-list-alt"></i>
  <openlayers ol-center="main.bandaAceh" ol-defaults="main.defaults" custom-layers="true" height="400" >
    <ol-layer ol-layer-properties="layer" ng-repeat="layer in main.layers|filter:{active:true}"></ol-layer>
  </openlayers>
  <h1>Center map</h1>
    <form>
        Latitude : <input type="number" step="any" ng-model="main.bandaAceh.lat" />
        Longitude : <input type="number" step="any" ng-model="main.bandaAceh.lon" />
        Zoom : <input type="number" step="any" ng-model="main.bandaAceh.zoom" />
    </form>
    <h2>Center object</h2>
    <pre>{{ main.bandaAceh | json }}</pre>

</div>
