<div>
  <acme-navbar></acme-navbar>
</div>
<!-- halo <i class="fa fa-list-alt"></i> -->
<div id="print-map" class="container-map" style=" height:92vh; background-color:blue">
  <openlayers ol-center="main.bandaAceh" ol-defaults="main.defaults" custom-layers="true" height="100%">

    <map-menu></map-menu>

    <ol-control name="{{ control.name }}" ng-repeat="control in main.controls|filter: {active: true}"></ol-control>
    <map-small-buttons></map-small-buttons>
    <!--ol-marker ol-marker-properties="he" name="London" lat="5.548906929423808" lon="95.31450748443602"></ol-marker-->
    <ol-layer ol-layer-properties="tematik" ng-repeat="tematik in main.tematik|filter:{active:true}"></ol-layer>
    <ol-layer ol-layer-properties="rencana" ng-repeat="rencana in main.rencana|filter:{active:true}"></ol-layer>
    <ol-layer ol-layer-properties="basemap" ng-repeat="basemap in main.basemaps|filter:{active:true}"></ol-layer>
    <ol-layer ol-layer-properties="lokasi" ng-repeat="lokasi in main.lokasi|filter:{active:true}">
      <ol-marker ol-marker-properties="main.isiLabel"></ol-marker>
    </ol-layer>

    <!--ol-layer ol-layer-properties="satelit" ng-repeat="satelit in main.citraSatelit|filter:{active:true}"></ol-layer-->
  </openlayers>
</div>

<!--div id="marker" title="marker"></div-->

<!-- <h2>Satelit</h2>
<label ng-repeat="satelit in main.citraSatelit">
  <input type="checkbox" name="response" ng-value="true" ng-model="satelit.active"> {{satelit.name}}
</label> -->

<!-- <form>
    Latitude : <input type="number" step="any" ng-model="main.bandaAceh.lat" />
    Longitude : <input type="number" step="any" ng-model="main.bandaAceh.lon" />
    Zoom : <input type="number" step="any" ng-model="main.bandaAceh.zoom" />
    Mouse Position : <pre ng-bind="main.mousePosition | json"></pre>
</form>
<pre>
  {{main.lokasi[0].source | json}}
</pre> -->
