<ol-control ol-control-properties="vm.rotateNorth"></ol-control>
<button type="button" title="Screenshot dan Simpan Peta" name="btnSave" class="btn btn-info btn-sm btn-map save-map" ng-click="vm.saveAsPNG()"><i class="fa fa-download"></i></button>
<button type="button" title="Zoom In Peta" name="btnZoomIn" class="btn btn-info btn-sm btn-map zoom-in-map" ng-click="vm.btnZoomIn()"><b>+</b></button>
<button type="button" title="Zoom Out Peta" name="btnZoomOut" class="btn btn-info btn-sm btn-map zoom-out-map" ng-click="vm.btnZoomOut()"><b>-</b></button>
<button type="button" title="Recenter Peta" name="btnRecenter" class="btn btn-info btn-sm btn-map recenter-map" ng-click="vm.btnRecenter()"><b>R</b></button>
<!-- <button type="button" title="Fullscreen" name="btnFullScreen" class="btn btn-info btn-sm menu-button"><i class="fa fa-expand"></i></button>
<button ol-control-properties="main.rotateNorth" type="button" id="putar" title="Putar Peta 90 derajat" name="btnRotate" class="btn btn-info btn-sm menu-button ol-control" ng-click="main.handleRotateNorth"><i class="fa fa-refresh"></i></button>
<button type="button" title="Simpan Peta" name="btnSave" class="btn btn-info btn-sm menu-button"><i class="fa fa-download"></i></button>
<button type="button" title="Longitude Titik Tengah Peta" name="btnLon" class="btn btn-info btn-sm disabled menu-button">Lon: {{main.bandaAceh.lon}}</button>
<button type="button" title="Lattitude Titik Tengah Peta" name="btnLat" class="btn btn-info btn-sm disabled menu-button">Lat: {{main.bandaAceh.lat}}</button> -->
