body {
	background-color: #f0f0f0;
}

.angular-openlayers-map {
	background-color: #6495ed;
}

.main-layer {

}

.check-all {
	color: $brand-danger;
}

.cb-tematik, .range-tematik, .cb-rencana, .range-rencana {
	padding: 0px;
	display: inline-block;
}
