/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";
$aa: "global.scss";
$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
//@import "../../bower_components/openlayers/ol.css";
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.navbar {
  margin-bottom: 0px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}
.angular-openlayers-map {
  position:relative;
}

#map-legend{
    position:absolute;
    right:10px;
    bottom:10px;
    z-index:10000;
    width:100px;
    height:100px;
    background-color:#FFFFFF;
}


//ol3-popup
.popup-label {
    background-color: #fff;
    border: 2px #444 solid;
    border-radius: 7px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  	color: #111;
  	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  	font-weight: bold;
  	padding: 3px 6px;
  	position: absolute;
  	white-space: nowrap;
  	top: -35px;
  	left: 20px;
    display: none;
}

.popup-label img {
    vertical-align: middle;
}

.popup-label.marker:before {
  	border-top: 6px solid transparent;
  	border-bottom: 6px solid transparent;
  	content: "";
  	border-right: 6px solid black;
  	border-right-color: inherit;
  	position: absolute;
  	left: -8px;
  	top: 5px;
}

//custom button on the map.zoom-extent {
.zoom-extent {
  position: absolute;
  top: 65px;
  left: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}
.zoom-extent a {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 18px;
  font-family:'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 22px;
  width: 22px;
  line-height: 19px;
  background: rgba(0, 60, 136, 0.5);
}
.zoom-extent a:hover {
  background: rgba(0, 60, 136, 0.7);
}
.zoom-to {
  border-radius: 2px 2px 0 0;
}
.zoom-to:before {
  content:"E";
}

.rotate-north {
    text-align: right;
    bottom: .5em;
    left: .5em;
    max-width: calc(100% - 1.3em);
}

//styling the button group on the top left of the map
.layer-menu-button {
  position: absolute;
  z-index: 100010;
  text-align: right;
  top: 10px;
  left: 8px;
  //max-width: calc(100% - 1.3em);
  .btn-group {
    .menu-button {
      //background-color: rgba(54, 25, 25, .75);
      border-radius: 0px;
    }
  }
}


//show map menu on top of the map
#map-menu {
  position:absolute;
  z-index: 100011;
  top: 40px;
  margin-left: 8px;
  //left: 8px;
  // width: 200px;
  // height: 200px;
  // background-color: white;
}

//override some styling in default panel.scss
.panel-no-margin {
  .panel-group {
    .panel {
      + .panel {
        margin-top: 0px;
      }
    }
    .panel-title {
      a:hover, a:focus {
        color: black;
        text-decoration: none;
      }
    }
  }
}

//override openlayers control style
.ol-zoom {
     left: unset;
     right: 8px;
  }

.ol-full-screen.ol-control {
  top: 35px;
  background-color: rgba(255,255,255,0);

  .ol-full-screen-false, .ol-full-screen-true {
    border-radius: 0px;
    //padding: 5px 10px;
    font-size: 12;
    line-height:1.5;
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
  }
}

// .ol-control {
//   background-color: rgba (255,255,255,0);
//   //background-color: none;
//   border-radius: 0px;
//   padding:0px;
//
// }
.rotate-north {
  position: absolute;
  z-index: 100100;
  top: 10px;
  left: 270px;
}

.ol-unselectable {
  .btn-sm {
    border-radius: 0px;
  }
}

.full-screen {
  position: absolute;
  z-index: 100100;
  top: 10px;
  left: 300px;
}

.save-map {
  border-radius: 0px;
  position: absolute;
  z-index: 100100;
  top: 10px;
  left: 302px;
}
.zoom-in-map {
  border-radius: 0px;
  position: absolute;
  z-index: 100100;
  top: 10px;
  left: 335px;
}
.zoom-out-map {
  border-radius: 0px;
  position: absolute;
  z-index: 100100;
  top: 10px;
  left: 364px;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
