<div id="map-menu" class="panel panel-primary">
  <div class="panel-heading">Jenis Peta</div>
  <div class="panel-footer">
    <div  class="sidebar sidebar-right">
      <div class="panel-group panel-no-margin">
        <uib-accordion>

          <div ng-repeat="accordion in vm.accordionList">
            <div uib-accordion-group class="panel-info" is-open="accordion[$index].open">
              <uib-accordion-heading>
                {{accordion.name}} <i class="pull-right fa" ng-class="{'fa-chevron-down': accordion[$index].open, 'fa-chevron-right': !accordion[$index].open}"></i>
              </uib-accordion-heading>
              <div class="layer-data">
                <div ng-repeat="data in vm.accordionList[$index].data">
                  <div class="cb-input">
                    <label>
                      <input type="checkbox" name="response" ng-value="true" ng-model="data.active"> {{data.desc}}
                    </label>
                  </div>
                  <div class="range-input">
                    <label>
                      <input type="range" min="0" max="1" step="0.01" ng-model="data.opacity">
                    </label>
                  </div>
                </div>
                <div class="check-all">
                  <label>
                    <input type="checkbox" ng-value="true" ng-model="vm.accordionList[$index].checkAll" ng-click="vm.toggleMap($index)"> Centang / matikan semua {{vm.accordionList[$index].name | lowercase}}
                  </label>
                </div>
              </div>
            </div>
          </div>


        </uib-accordion>

      </div>
    </div>

  </div>
</div>
