<div class="layer-menu-button">
  <div class="btn-group" role="group" id="btn-group-menu">
    <button type="button" title="Tampilkan Menu Layer" name="btnShowMapMenu" class="btn btn-default btn-sm menu-button" ng-click="vm.showMapMenu()"><i class="fa fa-list-ul"></i> Menu Layer</button>
    <button type="button" title="Cari Tempat di Peta" name="btnSearch" class="btn btn-default btn-sm menu-button" ng-click="vm.showMapCariMenu()">Cari <i class="fa fa-search"></i> </button>
    <button type="button" title="Tampilkan Lokasi Tempat" name="btnShowLokasi" class="btn btn-default btn-sm menu-button" ng-click="vm.showMapLokasiMenu()"><i class="fa fa-map-marker"></i> Menu Lokasi</button>
  </div>
</div>

<div id="map-menu" class="panel panel-primary" ng-show="vm.layerMenuIsVisible">
  <div class="panel-heading">Jenis Peta <div class="button pull-right fa fa-close" ng-click="vm.showMapMenu()"></div></div>
  <div class="panel-footer">
    <div  class="sidebar sidebar-right">
      <div class="panel-group panel-no-margin">
        <uib-accordion>

          <div ng-repeat="accordion in vm.accordionList">
            <div uib-accordion-group class="panel-info" is-open="accordion[$index].open">
              <uib-accordion-heading>
                {{accordion.name}} <i class="pull-right fa" ng-class="{'fa-chevron-down': accordion[$index].open, 'fa-chevron-right': !accordion[$index].open}"></i>
              </uib-accordion-heading>
              <div class="layer-data">
                <div ng-repeat="data in vm.accordionList[$index].data">
                  <div class="cb-input">
                    <label>
                      <input type="checkbox" name="response" ng-value="true" ng-model="data.active"> {{data.desc}}
                    </label>
                  </div>
                  <div class="range-input">
                    <label>
                      <input type="range" min="0" max="1" step="0.01" ng-model="data.opacity">
                    </label>
                  </div>
                </div>
                <div class="check-all">
                  <label>
                    <input type="checkbox" ng-value="true" ng-model="vm.accordionList[$index].checkAll" ng-click="vm.toggleMap($index)"> Centang / matikan semua {{vm.accordionList[$index].name | lowercase}}
                  </label>
                </div>
              </div>
            </div>
          </div>


        </uib-accordion>

      </div>
    </div>

  </div>
</div>

<div id="map-cari-menu" class="panel" ng-show="vm.cariMenuIsVisible">
  <div class="form-group">

    <div class="col-md-4 col-sm-5 no-padding">
      <div class="input-group">
        <ui-select tagging ng-model="vm.selected" theme="bootstrap">
          <ui-select-match placeholder="Cari Lokasi...">{{$select.selected.Nama_Lokasi}} - {{$select.selected.Alamat}}</ui-select-match>
          <ui-select-choices group-by="'Kategori'" repeat="val in vm.lokasiList | filter: $select.search">
              <div ng-bind-html="val.Nama_Lokasi | highlight: $select.search"></div>
              <small ng-bind-html="val.Sub_Kategori | highlight: $select.search"></small>
          </ui-select-choices>
        </ui-select>
        <span class="input-group-btn">
              <button type="button" ng-click="vm.resetSearch()" class="btn btn-default">
                <span class="fa fa-trash"></span>
              </button>
            </span>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <button type="button" class="btn btn-primary btn-sm menu-button" name="buttonCari" ng-click="vm.dropSearchMarker()">Update</button>
    </div>
  </div>
</div>
<ol-marker ol-marker-properties="vm.searchMarker"></ol-marker>

<div id="map-lokasi-menu" class="panel panel-primary" ng-show="vm.lokasiMenuIsVisible">
  <div class="panel-heading">Jenis Lokasi <div class="button pull-right fa fa-close" ng-click="vm.showMapLokasiMenu()"></div></div>
  <div class="panel-footer">
    <div class="sidebar sidebar-right">
      <div class="panel-group panel-no-margin">
        <uib-accordion>
          <div uib-accordion-group class="panel-info" is-open="vm.status.open">
            <uib-accordion-heading>
              Lokasi Dasar <i class="pull-right fa" ng-class="{'fa-chevron-down': vm.status.open, 'fa-chevron-right': !vm.status.open}"></i>
            </uib-accordion-heading>
            <div class="main-layer">
              <div ng-repeat="lokasi in vm.lokasi">
                <label><input type="checkbox" name="response" ng-value="true" ng-model="lokasi.active"> {{lokasi.desc}}</label>
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>
    </div>
  </div>
</div>
