<div id="map-lokasi-menu" class="panel panel-primary">
  <div class="panel-heading">Jenis Lokasi</div>
  <div class="panel-footer">
    <div class="sidebar sidebar-right">
      <div class="panel-group panel-no-margin">
        <uib-accordion>
          <div uib-accordion-group class="panel-info" is-open="vm.status.open">
            <uib-accordion-heading>
              Lokasi Dasar <i class="pull-right fa" ng-class="{'fa-chevron-down': vm.status.open, 'fa-chevron-right': !vm.status.open}"></i>
            </uib-accordion-heading>
            <div class="main-layer">
              <div ng-repeat="lokasi in vm.lokasi">
                <label><input type="checkbox" name="response" ng-value="true" ng-model="lokasi.active"> {{lokasi.desc}}</label>
              </div>
            </div>
          </div>
        </uib-accordion>
      </div>
    </div>
  </div>
</div>
