
<div>
  <acme-navbar></acme-navbar>
</div>

<!-- halo <i class="fa fa-list-alt"></i> -->
<pre>
  {{local.getJsonBank}}
</pre>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="isi">
      <table class="table table-striped">
        List ATM
        <div class="" ng-repeat="(key, value) in local.getJson">
          {{value}} <br>
          <b>THEN</b>
          <div class="" ng-repeat="(key, value) in value">
            {{value}}
          </div>
          <b>Atau List ATM</b> <br>
          <div class="" ng-repeat="array in local.getJson">
            {{array[0]}}
          </div>
        </div>
        <thead>
          <tr>
            <th>Nama ATM</th>
            <th>Alamat</th>
            <th>Lintang</th>
            <th>Bujur</th>
          </tr>
          <tr>
            <th ng-repeat="item in local.getJson[0]">
              {{$index}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="array in local.getJson">
            <td ng-repeat="item in array">
              {{item}}
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="isi">
      <table class="table table-striped">
        <b>List Bank</b>
        <thead>
          <tr>
            <th ng-repeat="array in local.getJsonBank[0]">
              {{$index}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="array in local.getJsonBank">
            <td ng-repeat="item in array">
              {{item}}
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<openlayers ol-center="local.bandaAceh" ol-defaults="local.defaults" custom-layers="true" height="400">
  <div id="popup"></div>
  <ol-layer ol-layer-properties="lokasi" ng-repeat="lokasi in local.lokasi">
    <!-- <div id="legend">
      <img src="http://bappeda.bandaacehkota.go.id/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=uptb_gis_bna:lokasi_tabel">
    </div> -->
    <div id="map-legend">
      <img class="img-legend" style="height:100%;" src="http://bappeda.bandaacehkota.go.id/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER={{local.lokasi[0].layerName}}"/>
    </div>

  </ol-layer>
  <ol-marker ol-marker-properties="local.isiLabel"></ol-marker>
  <!-- <ol-layer ol-layer-properties="static">
    <img class="img-legend pull-right" style="position:absolute;" src="http://bappeda.bandaacehkota.go.id/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER={{local.lokasi[0].layerName}}">
  </ol-layer> -->
</openlayers>


<div class="dsad" style="height:400px;">
  <uib-accordion>
    <div uib-accordion-group class="panel-default">
      <uib-accordion-heading>
        I can have markup, too!
      </uib-accordion-heading>
      This is just some content to illustrate fancy headings.
    </div>
    <div uib-accordion-group class="panel-default">
      <uib-accordion-heading>
        I can have markup, too!
      </uib-accordion-heading>
      This is just some content to illustrate fancy headings.
    </div>
  </uib-accordion>
</div>
